.home {
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &--active {
    @extend %page--active;
  }
}

.home__background {
  @extend %cover;

  color: #151c13;
  display: none;
  pointer-events: none;
  z-index: 10;

  &__top,
  &__bottom {
    background: currentColor;
    content: "";
    display: block;
    height: 10rem;
    position: absolute;
    width: 100%;
  }

  &__top {
    background: linear-gradient(to bottom, currentColor 0%, transparent 100%);
    top: 0;
  }

  &__bottom {
    background: linear-gradient(to bottom, transparent 0%, currentColor 100%);
    bottom: 0;
  }

  @include media("<=phone") {
    display: block;
  }
}

.home__wrapper {
  padding-top: 20rem;
}

.home__list {
  display: inline-flex;
  flex-wrap: nowrap;
  flex: 0 0 100%;
}

.home__item {
  width: 40rem;
  height: 40rem;
  border-radius: 10px;
  flex-shrink: 0;
  background: var(--color);
  margin-right: 10rem;

  @include media("<=phone") {
    width: 20rem;
    height: 20rem;
    margin-right: 5rem;
  }
}
