mixin template(color)
  div.home__item(style=`--color: ${color}`)
    a.home__link(href=`/case/${id}`)

section.home
  .home__wrapper
    div.home__list
      +template('#9acc3e')
      +template('#bd3836')
      +template('#c9a074')
      +template('#437bd6')
      +template('#bd2e4d')
      +template('#2e22b4')
      +template('#981b59')
      +template('#495dab')
      +template('#6749ab')
      +template('#5ec23d')
      +template('#8d7e35')
      +template('#6f8d35')
      +template('#6749ab')
      +template('#9acc3e')
      +template('#dfa995')
      +template('#df95a6')
      +template('#c88574')
      +template('#c8748d')
      +template('#a33880')
      +template('#a3384a')
      +template('#b54a26')
      +template('#8b3761')
      +template('#3a90bb')
      +template('#981b59')
      +template('#d6dc98')
      +template('#b5dc98')
      +template('#2c61aa')
      +template('#362caa')
