mixin template(id, title, color)
  div.home__item(class=`home__item--${id}` style=`--color: ${color}`)
    a.home__link(href=`/case/${id}`)

section.home
  .home__wrapper
    div.home__list
      +template('peggy-gou', 'PEGGY GOU', '#9acc3e')
      +template('isabel-moranta', 'ISABEL MORANTA', '#bd3836')
      +template('floema', 'FLOEMA', '#c9a074')
      +template('garoa-skincare', 'GAROA SKINCARE', '#437bd6')
      +template('design-embraced', 'DESIGN EMBRACED', '#bd2e4d')
      +template('kacper-chlebowicz', 'KACPER CHLEBOWICZ', '#2e22b4')
      +template('trolli', 'TROLLI', '#981b59')
      +template('adventure-time', 'ADVENTURE TIME', '#495dab')
      +template('studio-maertens', 'STUDIO MÆRTENS', '#6749ab')
      +template('inbound', 'INBOUND', '#5ec23d')
      +template('redis', 'REDIS', '#8d7e35')
      +template('kaleidoz', 'KALEIDOZ', '#6f8d35')
      +template('erika-moreira', 'ERIKA MOREIRA', '#6749ab')
      +template('bruno-arizio', 'BRUNO ARIZIO', '#9acc3e')
      +template('dominic-berzins', 'DOMINIC BERZINS', '#dfa995')
      +template('pagethink', 'PAGETHINK', '#df95a6')
      +template('neoway', 'NEOWAY', '#c88574')
      +template('cult', 'CULT', '#c8748d')
      +template('movida', 'MOVIDA', '#a33880')
      +template('lufthansa-2', 'LUFTHANSA', '#a3384a')
      +template('tiaa', 'TIAA', '#b54a26')
      +template('lufthansa-1', 'LUFTHANSA', '#8b3761')
      +template('shell', 'SHELL', '#3a90bb')
      +template('corvette', 'CORVETTE', '#981b59')
      +template('nike', 'NIKE', '#d6dc98')
      +template('airbnb', 'AIRBNB', '#b5dc98')
      +template('discovery-kids', 'DISCOVERY KIDS', '#2c61aa')
      +template('rock-in-rio', 'ROCK IN RIO', '#362caa')
