doctype html
html(lang="en")
  head
    include ./partials/head

  body
    include ./partials/navigation

    include ./partials/home
    include ./partials/case

    script(src='js/index.js' type='module')